<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img [src]="data.foto"></ion-img>
      <ion-text>
        <ion-label>{{data.marca}}</ion-label>
      </ion-text>
      <ion-text>
        <h1>{{data.modelo}}</h1>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button
      (click)="deleteMoto(data.id)"
      color="warning"
      background="warning"
    >
      BORRAR MOTO
    </ion-button>
  </ion-card>
</ion-content>
